favorite {
    .item-inner{
        text-align:end;
    }
    .toolbar-background{
        background-color: #B2DFDB 
    }
    .toolbar{
        background-color:#B2DFDB 
    }
    .card-header{
        padding: 0px;
    

    }
}
