
<ion-header >
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu" ></ion-icon>
      </button>
      <ion-title> Favorite  </ion-title>
  
      <ion-buttons end>
  
  
      </ion-buttons>
  
    </ion-navbar>

  
  </ion-header>
  
  
  <ion-content padding style="padding: 0px; background-color:#E1F5FE">
      
                <div >
      
                    <ion-card  style="background-color: #B2DFDB; text-align: center;" *ngIf="ahadeesListArray.length == 0">
                        
                        
                        
                    <ion-card-content   [ngClass]="platform=='small'? 'small-font' : 'large-font'">
                        No Favorite
                     </ion-card-content>
                        
                            </ion-card>
                <ion-card *ngFor="let item of  ahadeesListArray; let i = index"  >
            
                  <ion-card-header [ngClass]="platform=='small'? 'header-small-font' : 'header-large-font'">
                      <ion-toolbar  >
                          <ion-buttons start  (tap)="shareDUA(item.index, item.type)">
                              <button ion-button icon-only >
                                  <ion-icon name="share"></ion-icon>
                                
                              </button>
                            </ion-buttons>  
                          <ion-title [ngClass]="platform=='small'? 'toolbar-title-small-font' : 'toolbar-title-large-font'" >Favorite {{i+1}} {{item.title}}  </ion-title>
                          
                          <ion-buttons end *ngIf="item.favorite" (tap)="unFavorite(item.index, item.type)" >
                              <button ion-button icon-only >
                                 
                                  <ion-icon name="star"  ></ion-icon>
                              </button>
                            </ion-buttons> 
                            <ion-buttons end *ngIf="!item.favorite" (tap)="favorite(item.index, item.type)">
                                <button ion-button icon-only >
                                    <ion-icon name="star-outline"></ion-icon>
                                  
                                </button>
                              </ion-buttons>  
      
                        </ion-toolbar>
      
       
                        
                   
                  </ion-card-header>
            
               <!--     <ion-card-content  style="background-color: #64B5F6;font-size: larger; font-weight: 900;">
                        <ion-item style="background-color: #64B5F6;font-size: larger; font-weight: 900;">
                        -->
                        <ion-card-content   [ngClass]="platform=='small'? 'small-font' : 'large-font'" style="text-align:center">
                           
                          <p [style.font-size]="sizeStore"> 
                              <!--  <p style= "font-size: xx-large"> -->
                                <br/>
                                    {{item.arabic}}
                               
                                    <br/>
                                    <br/>
                                {{item.english}}
                                </p>
                        
                    
                      
                      <!-- Add card content here! -->
                      <!--<button ion-button color="secondary" round  (click)="duaList()">Light</button> -->
                    </ion-card-content>
            
                </ion-card>
              </div> 
      
         
      </ion-content>
      
      
      